<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) = "voltar()">
        <ion-icon name="backspace-outline"></ion-icon>
      
      </ion-button>
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button (click) = "cadastrar()">
     
        <ion-icon large name="save-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Novo contato</ion-title>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        
        <ion-label position="floating" >Nome</ion-label>
        <ion-input type="text" [{ngModel}]="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Telefone</ion-label>
        <ion-input type="number" [{ngModel}]="telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Genero</ion-label>
        <ion-select placeholder="Selecionar" [{ngModel}] = "sexo">
          <ion-select-option value="f">Mulher</ion-select-option>
          <ion-select-option value="m">Homem</ion-select-option>
          <ion-select-option value="o">Outro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data de nascimento</ion-label>
        <ion-datetime  
          display-timezone="utc"
          displayFormat="MMMM YY"   
          displayFormat="DDD. MMM DD, YY" 
          min="1989-06-04"  
          [{ngModel}] ="dataNascimento"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          >
        </ion-datetime>
      </ion-item>
    

    </ion-list>
</ion-content>

